<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div align="center">
        <div align="center" class="border">
            <div class="header">
                <h1 class="word">register</h1>
            </div>
            <h2 class="word">
             <form action="/register" method="post">
               <div class="msg">{{msg}}</div>
               <input type ="text" id="username" 
               name="username" placeholder="enter your username"
               class="textbox"/><br><br>
               <input
               type="password"
               id="password"
               name="password"
               placeholder="enter your password"
               class="textbox"
               /><br><br>
               <input
               type="text"
               id="email"
               name="email"
               placeholder="enter your email"
               class="textbox"
               /><br><br>
               <input type="submit" value="sign up" class="btn"><br><br>
             </form>
            </h2>
            <p class="button">
                already have an account <a href="/login" class="button">sign in</a>
            </p>
        </div>
    </div>
</body>  
</html>                            